@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #18181b;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #f4f4f5;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground-rgb);
  @apply bg-zinc-900 h-screen overflow-x-hidden;
}

html {
  @apply h-screen;
}
